/* div{
    background-color: #C3F8FF;
} */
body{
    margin:0;
    text-align: center;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Merriweather', serif;
    font-size: 2em; 
    color: #405114;
    /* parent font size */ 
    /* h1,h2 will add font size at the basic of body */
}
p{
    line-height:2
}
hr{
    width:4%;
    border-top: 6px dotted #66BFBF;
    margin:100px auto;

}
.data{
      
    text-decoration: underline wavy cyan 10px;
}
h1{
    /* width:10%; */
    /* margin:auto; */
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    /* root em,ignore other font size */
    font-size: 6rem;
    /* font-size: 6em; */
    color:#66BFBF;
    line-height: 2;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
}
a{
    color:#11999E;
    font-family: "Monsterrat",sans-serif;
    margin:20px;
    text-decoration: none;
}
a:hover{
    color:#eaf6f6;
}
.top-container{
    background-color: #C3F8FF; 
    position:relative;
    padding-top: 200px;
    /* width:200px;
    height:200px;
    border: solid 10px;
    padding:20px */
}
.middle-container{
    /* background-color: blue;
    width:200px;
    height:200px;
    border: solid 20px;
    margin-left: 260px; */
    margin: 100px auto;
    
}
.bottom-container{
    /* background-color: bisque;
    width:200px;
    height:200px;
    border:solid 10px;
    margin-left:500px ; */
    background-color: #66BFBF;
    padding:50px 0 20px;

}
.top-cloud{
    position:absolute;
    right:250px;
    top: 50px;
    width:300px;
    

}
.bottom-cloud{
    position:absolute;
    left:100px;
    width:300px;
    
}
.skill-row{
    width:50%;
/* auto make center, clockwise top right bottom left*/
    margin:100px auto 100px auto;
    text-align: left;
    line-height:2 ;

    
}
.skill1{
    width:30%;
/* words float around the images */
    float:left;
    margin-right: 30px;

}
.skill2{    
    width:30%;
    float:right;
    margin-right: 30px;
}
.intro{
    width:30%;
    margin:auto;

}
.contact-me{
    width:30%;
/* top  40, bottom 60, left and right auto keep center */
    margin:40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
    margin:50px auto 0 auto;
}
.myimg{
    width:30%;
    height:30%;
}
.mountain{
    width:60%;
}